<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861873262396-uph4ml1l7ibvhn9j1ihcmhq11nm40hs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861873262396-uph4ml1l7ibvhn9j1ihcmhq11nm40hs2</string>
	<key>API_KEY</key>
	<string>AIzaSyDSNYB2szZikpjLWoqYWnT9MlzraMUqMFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>861873262396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MKS.PBSearchImage</string>
	<key>PROJECT_ID</key>
	<string>pbsearchimage</string>
	<key>STORAGE_BUCKET</key>
	<string>pbsearchimage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861873262396:ios:4a94dcafccc53b4bedd839</string>
	<key>DATABASE_URL</key>
	<string>https://pbsearchimage.firebaseio.com</string>
</dict>
</plist>