<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpointConfig</key>
	<dict>
		<key>baseURL</key>
		<string>api</string>
		<key>endpoints</key>
		<dict>
			<key>searchImage</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>method</key>
				<string>GET</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
